.clear {
	clear: both;
}

.display-container.display-size-12 {
	margin-bottom: 24px;
}


.display-container {
	position: relative;
	margin-right: 24px;
	float: left;
}

.display-container div.segment-x,
.display-container div.segment-y {
	position: absolute;
}

.display-container span.segment-border {
	display: block;
	position: absolute;
}

.display-container.display-size-12 {
	width: 234px;
	height: 440px;
}

.display-container.display-size-12-indicator {
	width: 100px;
	height: 440px;
}

.display-container.display-size-12-indicator .segment-dot {
	width: 20px;
	height: 20px;
	margin-left: 24px;
	background-color: #FF0000;
	border-radius: 50%;
	border: 24px solid #FF0000;
}

.display-container.display-size-12 .segment-x {
	width: 114px;
	left: 26px;
	border-bottom: 24px solid #FF0000;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
}

.display-container.display-size-12 .segment-x .segment-border {
	top: 24px;
	left: -24px;
	right: -24px;
	border-top: 24px solid #FF0000;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
}

.display-container.display-size-12 .segment-y {
	height: 114px;
	width: 0;
	border-right: 24px solid #FF0000;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
}

.display-container.display-size-12 .segment-y .segment-border {
	position: relative;
	left: 24px;
	height: 114px;
	margin-top: -24px;
	border-left: 24px solid #FF0000;
	border-top: 24px solid transparent;
	border-bottom: 24px solid transparent;
}

.display-container.display-size-12-indicator .segment-colon-a {
	margin-top: 100px;
}
.display-container.display-size-12-indicator .segment-colon-b {
	margin-top: 100px;
}
.display-container.display-size-12-indicator .segment-colon-c {
	margin-top: 40px;
}

.display-container.display-size-12 .segment-a {
	top: 0;
}

.display-container.display-size-12 .segment-b {
	top: 24px;
	left: 196px;
}

.display-container.display-size-12 .segment-c {
	top: 222px;
	left: 196px;
}

.display-container.display-size-12 .segment-d {
	top: 392px;
}

.display-container.display-size-12 .segment-e {
	top: 222px;
	left: 0px;
}

.display-container.display-size-12 .segment-f {
	top: 26px;
	left: 0px;
}

.display-container.display-size-12 .segment-g {
	top: 196px;
}

.display-colon .segment-colon-c{
	opacity: 0.1;
	filter: alpha(opacity=10);
}
.display-dot .segment-colon-a,
.display-dot .segment-colon-b {
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.display-off .segment-colon-a,
.display-off .segment-colon-b,
.display-off .segment-colon-c,
.display-off .segment-a,
.display-off .segment-b,
.display-off .segment-c,
.display-off .segment-d,
.display-off .segment-e,
.display-off .segment-f,
.display-off .segment-g {
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.display-no-1 .segment-a,
.display-no-1 .segment-d,
.display-no-1 .segment-e,
.display-no-1 .segment-f,
.display-no-1 .segment-g {
	/*display: none;*/
	opacity: 0.1;
	filter: alpha(opacity=10);
}

.display-no-2 .segment-c,
.display-no-2 .segment-f {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-3 .segment-e,
.display-no-3 .segment-f {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-4 .segment-a,
.display-no-4 .segment-d,
.display-no-4 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-5 .segment-b,
.display-no-5 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-6 .segment-b {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-7 .segment-d,
.display-no-7 .segment-e,
.display-no-7 .segment-f,
.display-no-7 .segment-g {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-8 {}

.display-no-9 .segment-e {
	/*display: none;*/
	opacity: 0.1;
}

.display-no-0 .segment-g {
	/*display: none;*/
	opacity: 0.1;
}

#clock-container {
	width: 1183px;
	height: 440px;
	background-color: #000000;
	margin-top: 15px;
	margin-left: auto;
    margin-right: auto;
}

#clock-container .display-container:last-child {
	margin: 0;
}

#clock-container:after {
	display: block;
	content: '.';
	visibility: hidden;
	clear: both;
}