.strikelight.on {
    filter: invert(10%) sepia(100%) saturate(7485%) hue-rotate(2deg) brightness(105%) contrast(106%);
}
.strikelight.off {
    filter: invert(100%);
    opacity: 0.1;
	filter: alpha(opacity=10);
}
.strikelight {
    width: 150px;
    height: 150px;
    position: relative;
    float: left;
}
#strikes-container {
    width: 330px;
    height: 150px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
}
#strike2 {
    margin-left: 15px;
}
#strikeText {
    left: -17px;
    position: relative;
    top: 0;
    padding-top: 0px;
    text-align: center;
    font-size: 150px;
    font-family: 'Arial Bold', sans-serif;
    color: red;
}